@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

body { 
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

hr.divider{
  display: block;
  background-color: var(--bs-blue);
  height: 2px;
  width: 50%;
  margin: 35px auto;
}

/* class */

footer {
  background-color: var(--bs-blue);
  color: white;
}

.ShowcaseItemImg {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.CarouselItemBoxTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 255px;
  background-color: rgb(4, 140, 182);
  color: white;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}